html {
    color: #1f202b;
    font-size: 16px;
}

body{
    font-size: 1em;
    font-family: 'JetBrains Mono', monospace;
    color: #1f202b;
    margin: 0 auto;
}

ul, 
ol {
    list-style-type: none;
}
   
a{
    color: #e2e3ed;
    text-decoration: none;
}

.content-wrapper {
    width: 90%;
    margin: 50px 0;
  }
  
/******* HEADER *******/
header,
footer {
  background-color: #202322;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header {
  padding: 15px 0;
}

header .content-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header h1 {
  color: #FFF;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.header-divider {
  background: #3a3a3a; 
  height: 1px;
  width: 100%;
  margin: 10px 0 20px 0;
}

header nav {
  width: 60%;
  font-size: 1.125em;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

header nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

header nav ul li {
  font-size: 1.125em;
}
