html {
    margin: 0 auto;
    color: #1f202b;
    font-size: 16px;
}

body{
    font-size: 1em;
    font-family: 'Oxygen', sans-serif;
    color: #1f202b;
    margin: 0 auto;
}

ul, 
ol {
    list-style-type: none;
}
   
a{
    color: #e2e3ed;
    text-decoration: none;
}

.content-wrapper {
    width: 90%;
    margin: 50px 0;
  }

p{
  font-family: 'Oxygen', sans-serif;
}

  
/* -------------------- Base Header - Footer Styles -------------------- */

header,
footer {
  background-color: #202322;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header {
  padding: 15px 0;
}

header .content-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header h1 {
  color: #FFF;
  width: 100%;
  font-size: 1em;
  font-family: 'Oxygen', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.header-divider {
  background: #3a3a3a; 
  height: 1px;
  width: 100%;
  margin: 10px 0 20px 0;
}

header nav {
  width: 100%;
  font-size: 0.8em;
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

header nav ul {
  width: 100%;
  display: block;
}

header nav ul li {
  font-size: 1.3em;
  line-height: 2em;
  text-align: center;
}

header nav ul a{
  font-size: 0.7em;
}

header h1{
      animation-duration: 1.5s;
      animation-name: textflicker;
      animation-iteration-count: infinite;
      animation-direction: alternate;
}

@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
  }
  to {
    text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
  }
}


footer {
  color: white;
  text-align: center;
  flex-direction: column;
}

footer p {
  margin: 0;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .content-wrapper {
  width: 55%;
  margin: 50px 0;
}

footer .contact {
  margin-bottom: 50px;
}

footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .social-icons p {
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .copyright {
  margin: 20px 0;
}

footer h1, h2{
  font-family: 'Oxygen', sans-serif;
}

footer h2{
  font-size: 1.9em;
}

.social-icons i {
  margin: 0 10px;
  background: #ff4c4c;
  border: #ff4c4c solid 10px;
  border-radius: 50%;
}


 /* -------------------- Mobile Styles - Homepage -------------------- */

 /* -------------------- About Section -------------------------------*/

 .about{
  background: #FFF;
  min-height: 250px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
 }

 .about h2{
  font-family: 'Caveat', cursive;
  font-size: 2.5em;
  text-align: center;
  text-decoration: underline;
 }

 .about a{
   color: #ff4c4c;
 }

 .about p{
   font-size: 1.8rem;
 }

 /* -------------------- Projects Section -------------------------------*/

 .projects{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
 }

 .projects .project-websites{
  width: 90%;
  margin: 10px 0;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  font-size: 1.5em;
}

 .projects .project-apps{
    width: 90%;
    margin: 10px 0;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    font-size: 1.5em;
 }

 .projects h2 {
    width: 95%;
    font-family: 'Caveat', cursive;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
}

  .thumbnails {
    border: #1f202b solid 3px;
    height: auto;
    width: 100%;
  }

  /* -------------------- Projects Section -------------------------------*/

  .services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background-color: #b5b7c9;
    text-align: center;
  }

  .services h2{
    font-family: 'Caveat', cursive;
    font-size: 2.5em;
    text-align: center;
    text-decoration: underline;
  }

  .services-icon{
    width: 90%;
    margin: 10px 0;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    font-size: 1.5em;
  }

  .center{
    text-align: center;
    width: 100%;
  }

  .services .icon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
  }

  .services h4{
    text-align: center;
    width: 100%;
  }

  .services i{
    background:  #f0f1f4;
    border: solid  #f0f1f4 10px;
    border-radius: 50%;
    color: #ff4c4c;
  }

  .services p{
    padding: 0 10px;
  }
  

 /* ==========================================================================
     Helper classes
     ========================================================================== */
  
  /*
   * Hide visually and from screen readers
   */
  
   .hidden {
    display: none !important;
  }
  
  /*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */
  
  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
  }
  
  /*
   * Extends the .visuallyhidden class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */
  
  .visuallyhidden.focusable:active,
  .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
  }
  
  /*
   * Hide visually and from screen readers, but maintain layout
   */
  
  .invisible {
    visibility: hidden;
  }
  
  /*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  
  .clearfix:before,
  .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  
  .clearfix:after {
    clear: both;
  }


  @media only screen and (min-width:768px) {
    /*Tablet styles here*/
  
    /* General styles */
    .content-wrapper {
      max-width: 740px;
      margin: 25px 0;
    }
  
    /* Header */
    header {
      justify-content: space-between;
      padding: 35px 0;
    }
  
    header .content-wrapper {
      width: 100%;
      justify-content: space-between;
    }

    header h1{
      font-size: 1.3em;
      width: 45%;
    }
  
    header nav {
      font-size: 0.8em;
      width: 55%;
      display: flex;
    }

    header nav ul {
      display: flex;
      justify-content: space-between;
    }

    header nav ul li{
      font-size: 1.125em;
    }
  
    .header-divider {
      display: none;
    }

    /* About Area */

    .about p{
      font-size: 1.3em;
    }
  
  
    /* Programs */

    .projects .project-websites{
      width: 47%;
      margin: 10px 15px 10px 0;
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      flex-flow: column wrap;
      font-size: 1.5em;
    }
    
     .projects .project-apps{
        width: 47%;
        margin: 10px 15px 10px 0;
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: column wrap;
        font-size: 1.5em;
     }
  

    /* Footer */
    footer .content-wrapper {
      width: 80%;
      margin: 100px 0;
    }
  
    footer .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }
  
    footer .contact {
      margin-bottom: 0;
    }
  
    footer h4 {
      font-size: 1.5em;
      margin-bottom: 40px;
    }
  
    footer p {
        line-height: 1.285;
    }
  
    footer .copyright {
      width: 100%;
    }

    .services-icon{
      width: 45%;
      margin: 10px 15px 10px 0;
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      flex-flow: row wrap;
      font-size: 1.5em;
    }

  }

  @media only screen and (min-width:1200px) {
    /*Desktop styles here*/

    .content-wrapper {
      max-width: 1100px;
    }
  
    header {
      padding: 15px 0;
    }

    header h1{
      font-size: 1.3em;
      width: 30%;
      text-align: left;
    }
  
    header nav {
      font-size: 0.8em;
      display: flex;
      width: 40%;
    }

    header ul{
      display: flex;
    }

    header nav ul li{
      font-size: 1.125em;
    }
  
    h2 {
      font-size: 2.25em;
    }
  
    h3,
    h4 {
        font-size: 1.875em;
    }
  
    p {
        font-size: 1.125em;
        line-height: 1.333;
    }

     /* Programs */

     .projects .project-websites{
      width: 30%;
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      flex-flow: column wrap;
      font-size: 1.2em;
    }
    
     .projects .project-apps{
        width: 30%;
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: column wrap;
        font-size: 1.2em;
     }

     .services i{
       font-size: 1em;
     }

     .services h4{
      font-size: 1.15em;
     }
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
      color: #000 !important;
      /* Black prints faster */
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      text-shadow: none !important;
    }
    a,
    a:visited {
      text-decoration: underline;
    }
    a[href]:after {
      content: " (" attr(href) ")";
    }
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
    /*
       * Don't show links that are fragment identifiers,
       * or use the `javascript:` pseudo protocol
       */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: "";
    }
    pre {
      white-space: pre-wrap !important;
    }
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
    /*
       * Printing Tables:
       * http://css-discuss.incutio.com/wiki/Printing_Tables
       */
    thead {
      display: table-header-group;
    }
    tr,
    img {
      page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
